/* .card {
    background-color: yellow;
    margin-bottom: 20px;
    color: black;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-rossa {
    .card-rossa {
        background-color: red !important;
        color: white !important;
        padding: 10px; // Mantiene il padding della Card
        border-radius: 10px; // Evita sovrapposizioni strane
    }
} */